{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Контакты</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/navigation.css'%}" type="text/css">
</head>

<body>
	<header class="header">
		  <div class="container">
				  <a class="navbar-brand" href="Liga Tennisa" style=color:black; >
					  <img src="https://img.icons8.com/emoji/12x/tennis-emoji.png" alt="logo" width="120" class="logo-img" align="left">
					  <a href="/""" class="ligatennisa"><h2><p>Лига <br />Тенниса</p></h2></a>	
				  </a>
			  <nav class="navbar">
				  <ul class="nav-list">
					  <li class="nav-item">
						  <a href="" class="nav-link">Билеты</a>
					  </li>
					  <li class="nav-item">
						  <a href="" class="nav-link">Расписание</a>
					  </li>
					  <li class="nav-item">
						  <a href="" class="nav-link">Тренировки</a>
					  </li>
					  <li class="nav-item">
						  <a href="" class="nav-link">Тренеры</a>
					  </li>
					  <li class="nav-item">
						  <a href="" class="nav-link">Корты</a>
					  </li>
					  <li class="nav-item">
						  <a href="" class="nav-link">Личный кабинет</a>
					  </li>
					  <li class="nav-item">
						  <a href="/aboutus" class="nav-link">О нас</a>
					  </li>
					  <li class="nav-item">
						  <a href="/contact" class="nav-link">Контакты</a>
					  </li>					
				  </ul>
			  </nav>
			  <a href="/login" class="btnlogin">
				  Вход
			  </a>
			  <a href="/registration" class="btnregistr">
				  Регистрация
			  </a>
		  </div>
	  </header>
  
<main>
<h1>Тут наши контакты, но всё позже...</h1>
</main>
  
	<footer>
	  <div>
		  <ul class = "menu">
			  <li><a href="/aboutus">О нас</a></li>
			  <li><a href="/contact">Контакты</a></li>
			  <li><a href="">Политика конфиденциальности</a></li>
			  <li><a href="">и тд и тп</a></li>
		  </ul>
		  <ul class = "social">
			<li><a href="#"> <img class="mx-1" src="https://cdn-icons-png.flaticon.com/512/1077/1077042.png" alt="Insta Icon" width="32" height="32"></a></li>
			<li><a href="#"> <img class="mx-1" src="https://cdn-icons-png.flaticon.com/512/25/25684.png" alt="VK Icon" width="32" height="32"></a></li>
			<li><a href="#"> <img class="mx-1" src="https://cdn-icons-png.flaticon.com/512/2111/2111710.png" alt="TG Icon" width="32" height="32"></a></li>
		  </ul>
		<p>©2024. Все права защищены</p>
	  </div>
  </footer>
  </body>
  </html>


